/* This is the CSS file for Lab 3. */

* {
  background-color: #f0e8f1;
}

.title {
  font-weight: bold;
  font-size: 150%;
}

#panda {
  color: #b4b6de;
}

ul {
  color: #4b92eb;
}

pre.panda {
  color: #eb85ce;
}

a[target=_self] {
  background-color: #ebe285;
}

a:active {
  color: #afedb0;
}

h2, h3 {
  background-color: #f0e8eb;
}

section p {
  color: #58a459; 
}

section > ol {
  font-size: 0.5cm;
  color: #d9b1d1;
}

figure ~ hr {
  font-weight: bold;
  font-size: 1cm;
  color: #0c54d5;
}

aside + p {
  background-color: red; 
}

h1 {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  font-size: 3ch;
}

p.round {
  border-style: dotted;
  border-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-width: 9px;
  border-radius: 5px;
}

li {
  font-size: 20px;
  line-height: 2em;
}
