* {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 150%;
}

#panda {
  color: #b4b6de;
}

ul {
  color: #4b92eb;
}

pre.panda {
  color: #eb85ce;
}

a[target=_self] {
  background-color: #ebe285;
}

a:active {
  color: #afedb0;
}

h2, h3 {
  background-color: #f0e8eb;
}

section p {
  color: #58a459; 
}

section > ol {
  font-size: 150%;
  color: #d9b1d1;
}

figure ~ hr {
  font-weight: bold;
  color: blue;
}

aside + p {
  background-color:red; 
}
